html
  head
    style
      :stylus
        body
          font-family KaiTi;
  body
    <script>
      :typescript
        const a = 'a:http';
        console.log('a', a);
        async function fn () {
          return 1
        };
        fn().then(res => {
          console.log('res', res);
        });
    </script>
    <script>
      :babel
        const b = 'b:http';
        console.log('b', b);
    </script>
