html
  head
    style
      :stylus
        body
          font-family KaiTi;
  body
    <script>
      :typescript
        const a = 'http'
        console.log('a', a)
    </script>
    <script>
      :babel
        const b = 'http'
        console.log('b', b)
    </script>
